<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>

     <vendor>Cosinus</vendor>
     <vendor_url>https://cosinus.org</vendor_url>

    <action id="org.cosinus.streamer.mount">
        <description>Streamer needs elevated privileges to mount filesystems</description>
        <message gettext-domain="streamer">Streamer needs elevated privileges to mount filesystems</message>
        <icon_name>streamer</icon_name>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_inactive>auth_admin_keep</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/mount</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

    <action id="org.cosinus.streamer.mkdir">
        <description>Streamer needs elevated privileges to mount filesystems</description>
        <message gettext-domain="streamer">Streamer needs elevated privileges to mount filesystems</message>
        <icon_name>streamer</icon_name>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_inactive>auth_admin_keep</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/mkdir</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

</policyconfig>
